#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:10px;
}

.taskinput{
  width:400px;
}

.addButton{
  background-color: black;
  color:white;
  border:none;  
  padding:0 10px;
  border-radius:5px;
}
.tasklist{
  margin:10px;
}
.task{
  margin:10px;
}

.finishButton{
  background-color: green;
  color:white;
  border:none;
  padding:0 10px;
  border-radius:5px;
}

.renewButton{
  background-color: blue;
  color:white;
  border:none;
  padding:0 10px;
  border-radius:5px;
  margin:5px;
}

.cancelButton{
  background-color: red;
  color:white;
  border:none;
  padding:0 10px;
  border-radius:5px;
  margin:5px;
}

.Edit{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Buttons{
  margin:0 30px;
}